@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No existe el breakpoint: #{$breakpoint}.";
  }
}

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin grid($columns: 12, $gap: $spacing-unit) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin font-size($size) {
  @if map-has-key($font-sizes, $size) {
    font-size: map-get($font-sizes, $size);
  } @else {
    @warn "No existe el tamaño de fuente: #{$size}.";
  }
}

@mixin spacing($property, $size) {
  @if map-has-key($spacings, $size) {
    #{$property}: map-get($spacings, $size);
  } @else {
    @warn "No existe el espaciado: #{$size}.";
  }
}

@mixin color($color-name) {
  @if map-has-key($colors, $color-name) {
    color: map-get($colors, $color-name);
  } @else {
    @warn "No existe el color: #{$color-name}.";
  }
}

@mixin bg-color($color-name) {
  @if map-has-key($colors, $color-name) {
    background-color: map-get($colors, $color-name);
  } @else {
    @warn "No existe el color: #{$color-name}.";
  }
}
